<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>支出確認画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2 class="section-title">支出内容の確認</h2>

	<form th:action="@{/expense-save}" method="POST" th:object="${expenseForm}" class="form-block">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

		<input type="hidden" th:field="*{date}">
		<input type="hidden" th:field="*{memo}">
		<input type="hidden" th:field="*{categoryId}">
		<input type="hidden" th:field="*{feelingId}">
		<input type="hidden" th:field="*{amount}">

		<table class="expense-list">

			<tr>
				<th>日付</th>
				<td th:text="*{date}">2025-07-10</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td th:text="*{memo}">ランチ</td>
			</tr>
			<tr>
				<th>カテゴリ</th>
				<td th:text="${categoryName}">食費（共通）</td>
			</tr>
			<tr>
				<th>感情</th>
				<td th:text="${feelingName}">満足（共通）</td>
			</tr>
			<tr>
				<th>金額</th>
				<td th:text="*{amount} + '　円'">500</td>
			</tr>
		</table>

	<div class="form-button-area">
		<input type="submit" value="登録する" class="btn">
	</div>
	</form>
	
	<br>

	<form th:action="@{/expense-new}" method="GET" th:object="${expenseForm}">

		<input type="hidden" th:field="*{date}">
		<input type="hidden" th:field="*{memo}">
		<input type="hidden" th:field="*{categoryId}">
		<input type="hidden" th:field="*{feelingId}">
		<input type="hidden" th:field="*{amount}">
		
	<div class="form-button-area">
		<input type="submit" value="入力画面に戻る" class="btn">
	</div>

	</form>


</body>

</html>